In [13]:
import pandas as pd
%matplotlib inline

data = pd.read_csv("LandCoverAreas.csv")


query_mask = data["grid_code"]==3 
gridcode = data[query_mask]
gridcode.head(10)

acreage = gridcode.sort_values(["acres"], ascending=[False])
acreage.head(10)

,_id,fid,area,grid_code,sq_ft,acres,sq_mi,shape_length,shape_area
236,2092503,237,2577339900,3,2577339900,59167.6020,92.449501,25.334216,0.025479
15,2092282,16,782902020,3,782902020,17973.0000,28.082800,5.336953,0.007738
33645,2125912,33646,726473980,3,726473980,16677.6000,26.058701,7.391486,0.007149
8199,2100466,8200,493628990,3,493628990,11332.2000,17.706499,4.672577,0.004873
25837,2118104,25838,475535010,3,475535010,10916.8000,17.057400,5.178290,0.004686
39685,2131952,39686,389561980,3,389561980,8943.1104,13.973600,4.895471,0.003834
11649,2103916,11650,370371010,3,370371010,8502.5596,13.285200,3.664194,0.003657
11246,2103513,11247,323048000,3,323048000,7416.1602,11.587800,3.354678,0.003188
1714,2093981,1715,304510020,3,304510020,6990.5801,10.922800,3.838777,0.003009
45713,2137980,45714,262504990,3,262504990,6026.2900,9.416070,2.655717,0.002581

Column 1: McCandles Twp
Column 5: Beechmont
Column 8: Finolay Twp
Column 4: Forest Grove
Column 2: Sewickley Hills
Column 9: Franklin Park
Column 10: Forward Twp
Column 6: Snowden
Column 7: Plum
Column 3: White Oak